body {
  padding: 0;
  font: 14px sans-serif, Helvetica, Arial;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.textcenter {
	text-align :center;
}

.cearfix {
	overflow: auto;
	zoom: 1;
}

.hidden {
	display: none !important;
}
